.jumbotron
	.container
		%h2 Contacts
		%p
			%a.btn.btn-primary.btn-lg{:href => new_contact_path, :role => "button"} Add		
.container
	/ Example row of columns
	.row
		- @contacts.each do |c|
			.col-md-4
				.panel
					%h2= c.full_name
					%p= c.email
					%p= c.mobile
					%p
						%a.btn.btn-default{:href => contact_path(id: c.id), :role => "button"} View details »

	%hr/
	%footer
		%p © 2017 Company, Inc.

