= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .field
      = f.label :first_name, :class => 'form-label'
      = f.text_field :first_name, :class => 'form-control'
    .field
      = f.label :last_name, :class => 'form-label'
      = f.text_field :last_name, :class => 'form-control'
  .form-group
    .field
      = f.label :email, :class => 'form-label'
      = f.text_field :email, :class => 'form-control'
    .field
      = f.label :mobile, :class => 'form-label'
      = f.text_field :mobile, :class => 'form-control'
    .field
      = f.label :home_phone, :class => 'form-label'
      = f.text_field :home_phone, :class => 'form-control'
    .field
      = f.label :office_phone, :class => 'form-label'
      = f.text_field :office_phone, :class => 'form-control'
  .from-group
    .field
      = f.label :street_address, :class => 'form-label'
      = f.text_field :street_address, :class => 'form-control'
    .field
      = f.label :city, :class => 'form-label'
      = f.text_field :city, :class => 'form-control'
    .field
      = f.label :state, :class => 'form-label'
      = f.text_field :state, :class => 'form-control'
    .field
      = f.label :country, :class => 'form-label'
      = f.text_field :country, :class => 'form-control'
  %br
  .form-group
    .actions
      = f.submit 'Save', :class => 'btn btn-primary btn-block'
