%h1 Listing contacts

%table.table
  %thead
    %tr
      %th First name
      %th Last name
      %th Email
      %th Mobile
      %th Home phone
      %th Office phone
      %th Street address
      %th City
      %th State
      %th Country
      %th Permalink
      %th
      %th
      %th

  %tbody
    - @contacts.each do |contact|
      %tr
        %td= contact.first_name
        %td= contact.last_name
        %td= contact.email
        %td= contact.mobile
        %td= contact.home_phone
        %td= contact.office_phone
        %td= contact.street_address
        %td= contact.city
        %td= contact.state
        %td= contact.country
        %td= contact.permalink
        %td= link_to 'Show', contact
        %td= link_to 'Edit', edit_contact_path(contact)
        %td= link_to 'Destroy', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Contact', new_contact_path
