%p#notice= notice

%table.table
  %tr
    %td
      %b First name:
    %td
      = @contact.first_name
  %tr
    %td
      %b Last name:
    %td
      = @contact.last_name
  %tr
    %td
      %b Email:
    %td      
      = @contact.email
  %tr
    %td
      %b Mobile:
    %td      
      = @contact.mobile
  %tr
    %td
      %b Home phone:
    %td      
      = @contact.home_phone
  %tr
    %td
      %b Office phone:
    %td      
      = @contact.office_phone
  %tr
    %td
      %b Street address:
    %td      
      = @contact.street_address
  %tr
    %td
      %b City:
    %td      
      = @contact.city
  %tr
    %td
      %b State:
    %td      
      = @contact.state
  %tr
    %td
      %b Country:
    %td      
      = @contact.country
  %tr
    %td
      %b Permalink:
    %td      
      = @contact.permalink

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
