!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title ContactList
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	%body
		.container
			%nav.navbar.navbar-inverse.navbar-fixed-top
				.container
					.navbar-header
						%button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
							%span.sr-only Toggle navigation
							%span.icon-bar
							%span.icon-bar
							%span.icon-bar
						%a.navbar-brand{:href => root_path} contact-list
					#navbar.navbar-collapse.collapse
						%form.navbar-form.navbar-right
							.form-group
								%input.form-control{:placeholder => "search", :type => "text"}/
							%button.btn.btn-success{:type => "submit"} Search	
			%br
			%br
			= yield
